<div class="row">

  <div class="col-lg-3">

    <h1 class="my-4"></h1>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
    <div class="col-lg-9">
      <table border="1" class="table">
        <thead>
          <tr>
            <th>photo</th>
            <th>Name</th>
            <th>Descrition</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>
              <img [src]="book.imageUrl" height="50">
            </td>
            <td>{{book.name}}</td>
            <td>{{book.descrition}}</td>
            <td>{{book.unitPrice | currency: 'INR'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>